<% if !user_signed_in? %>
<div class="jumbotron" >
  <h1> Your Review </h1>
  <p>Rate titles anywhere on the site and they’ll appear here, in Your Ratings, giving you quick access to your favorite movies and shows. Your ratings will also help others figure out what’s best to watch...or avoid. </p>
  <p><%= link_to "Sign up to Rate our Machine" ,new_user_registration_path, class: "btn btn-primary btn-lg"%></p>
</div>
<% end %>
<div class="row">
  <% @movies.each do |movie|%>
  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <%= link_to (image_tag movie.image.url(:medium), class: 'image'), movie %>
    </div>
  </div>

  <% end %>
</div>
